body {
  margin: 0;
  background: #f5f5f5;
  font-family: sans-serif;
}

.mobile-wrapper {
  max-width: 514px;
  margin: auto;
  background: #fff;
}


/* === Kontrol ukuran PROGRAM banner === */
.programSwiper .swiper-slide {
  aspect-ratio: 16 / 9;   /* INI YANG NGATUR BESAR / KECIL */
  overflow: hidden;
  border-radius: 8px;
}

.programSwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  border-radius: 8px;
}

.programSwiper {
  padding-bottom: 28px;
}

.programSwiper .swiper-pagination {
  position: relative;
  margin-top: 12px;
}


.slider img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}
.flex {
    display: flex;
}

.gap-12 {
    gap: 12px;
}

.mt-12 {
    margin-top: 12px;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.heading {
    font-size: 28px;
    font-weight: 600;
    margin-top: 12px;
}

.best{
  margin-top: 24px;
  margin-bottom: 24px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 6px;
}
